<tr class="line-item">
    <td class="line-item__product">
        <div class="line-item__content-wrapper">
            {% if version %}
            <a href="{% if item.variant.metafields.secomapp.freegifts %}{{ item.product.url }}{% else %}{{ line_item.url }}{% endif %}"
                class="line-item__image-wrapper" tabindex="-1" aria-hidden="true">
                <img class="line-item__image" loading="sizes" sizes="(max-width: 740px) 80px, 92px" {%
                    render 'image-attributes' , image: line_item.image, sizes: '80,92,160,184,240,276' %}>
            </a>
            {% else %}
            <div 
                class="line-item__image-wrapper" tabindex="-1" aria-hidden="true">
                <img class="line-item__image" loading="sizes" sizes="(max-width: 740px) 80px, 92px" {%
                    render 'image-attributes' , image: line_item.image, sizes: '80,92,160,184,240,276' %}>
            </div>
            {% endif %}

            {%- capture unit_price -%}
            {%- if line_item.unit_price_measurement -%}
            <div class="price text--subdued">
                <div class="unit-price-measurement">
                    <span class="unit-price-measurement__price">{{ line_item.unit_price | money }}</span>
                    <span class="unit-price-measurement__separator">/</span>

                    {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                    <span class="unit-price-measurement__reference-value">{{
                        line_item.unit_price_measurement.reference_value }}</span>
                    {%- endif -%}

                    <span class="unit-price-measurement__reference-unit">{{
                        line_item.unit_price_measurement.reference_unit }}</span>
                </div>
            </div>
            {%- endif -%}
            {%- endcapture -%}

            {%- capture price -%}
            <span class="price">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                {%- if line_item.original_price == 0 -%}
                {{- 'cart.general.free' | t -}}
                {%- else -%}
                {{- line_item.original_price | money -}}
                {%- endif -%}
            </span>
            {%- endcapture -%}

            {%- capture line_price -%}
            <span
                class="price {% if line_item.original_line_price > line_item.final_line_price or line_item.final_line_price == 0 or line_item.variant.compare_at_price > line_item.variant.price %}price--highlight{% endif %}">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                {%- if line_item.final_line_price == 0 -%}
                {{- 'cart.general.free' | t -}}
                {%- else -%}
                {{- line_item.final_line_price | money -}}
                {%- endif -%}
            </span>

            {%- if line_item.original_line_price > line_item.final_line_price or line_item.variant.compare_at_price >
            line_item.variant.price -%}
            <span class="price price--compare">
                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                {%- if line_item.original_line_price > line_item.final_line_price -%}
                {{- line_item.original_line_price | money -}}
                {%- else -%}
                {{- line_item.variant.compare_at_price | times: line_item.quantity | money -}}
                {%- endif -%}
            </span>
            {%- endif -%}
            {%- endcapture -%}

            <div class="line-item__info">
                <div class="product-item-meta">
                    {%- if settings.show_vendor -%}
                    {%- assign vendor_handle = line_item.vendor | handle -%}
                    {%- assign collection_for_vendor = collections[vendor_handle] -%}

                    {%- unless collection_for_vendor.empty? -%}
                    <a class="product-item-meta__vendor heading heading--xxsmall"
                        href="{{ collection_for_vendor.url }}">{{ line_item.vendor }}</a>
                    {%- else -%}
                    <a class="product-item-meta__vendor heading heading--xxsmall"
                        href="{{ line_item.vendor | url_for_vendor }}">{{ line_item.vendor }}</a>
                    {%- endunless -%}
                    {%- endif -%}

                    {% if version %}
                    <a href="{% if item.variant.metafields.secomapp.freegifts %}{{ item.product.url }}{% else %}{{ line_item.url }}{% endif %}"
                            class="product-item-meta__title text--small hidden-tablet-and-up">{%- assign
                            product_opening_bracket = line_item.product.title | slice: 0 -%}{%-if
                            product_opening_bracket == "【" -%}<span
                              class="grassphere-space-removal"></span>{%-endif-%}{{ line_item.product.title }}</a>
                          <a href="{% if item.variant.metafields.secomapp.freegifts %}{{ item.product.url }}{% else %}{{ line_item.url }}{% endif %}"
                            class="product-item-meta__title hidden-phone">{%- assign product_opening_bracket =
                            line_item.product.title | slice: 0 -%}{%-if product_opening_bracket == "【" -%}<span
                              class="grassphere-space-removal"></span>{%-endif-%}{{ line_item.product.title }}</a>
                    {% else %}
                    <div 
                        class="product-item-meta__title text--small hidden-tablet-and-up">{%- assign
                        product_opening_bracket = line_item.product.title | slice: 0 -%}{%-if product_opening_bracket ==
                        "【" -%}<span class="grassphere-space-removal"></span>{%-endif-%}{{ line_item.product.title
                        }}</div>
                    <div 
                        class="product-item-meta__title hidden-phone">{%- assign product_opening_bracket =
                        line_item.product.title | slice: 0 -%}{%-if product_opening_bracket == "【" -%}<span
                        class="grassphere-space-removal"></span>{%-endif-%}{{ line_item.product.title }}</div>
                    {% endif %}

                    {%- capture line_item_properties -%}
                    {%- unless line_item.product.has_only_default_variant -%}
                    <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.variant.title
                        }}</span>
                    {%- endunless -%}

                    {%- if line_item.selling_plan_allocation -%}
                    <span class="product-item-meta__property text--subdued text--xsmall">{{
                        line_item.selling_plan_allocation.selling_plan.name }}</span>
                    {%- endif -%}

                    {%- unless line_item.properties == blank -%}
                    <ul class="product-item-meta__property list--unstyled text--subdued text--xsmall" role="list">
                        {%- for property in line_item.properties -%}
                        {%- assign first_character_in_key = property.first | truncate: 1, '' -%}
                        {%- if property.last == blank or first_character_in_key == '_' -%}
                        {%- continue -%}
                        {%- endif -%}

                        <li class="line-item__property">{{ property.first }}: {{ property.last }}</li>
                        {%- endfor -%}
                    </ul>
                    {%- endunless -%}
                    {%- endcapture -%}

                    {%- if line_item_properties != blank -%}
                    <div class="product-item-meta__property-list">
                        {{- line_item_properties -}}
                    </div>
                    {%- endif -%}

                    <div class="product-item-meta__price-list-container">
                        <div class="price-list text--small hidden-tablet-and-up">
                            {{- line_price -}}
                            {{- unit_price -}}
                        </div>

                        <div class="price-list hidden-phone">
                            {{- price -}}
                            {{- unit_price -}}
                        </div>
                    </div>
                </div>

                {%- if line_item.line_level_discount_allocations != blank -%}
                <ul class="line-item__discount-list list--unstyled" role="list">
                    {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                    <li class="line-item__discount-badge discount-badge">
                        {%- render 'icon' with 'discount-badge' -%}{{ discount_allocation.discount_application.title }}
                        (-{{ discount_allocation.amount | money }})
                    </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}

                {%- assign max_allowed_quantity = '' -%}
                {%- assign allow_more = true -%}

                {%- if line_item.variant.inventory_management == 'shopify' and line_item.variant.inventory_policy == 'deny' and line_item.variant.inventory_quantity <= line_item.quantity -%} {%- assign max_allowed_quantity=line_item.variant.inventory_quantity -%} {%- assign allow_more=false -%} 
              {%-endif -%} 
              
              {%- capture quantity_selector_inner -%} 


            <button type="button" 
                class="line-item__remove-button link text--subdued text--xxsmall hidden-tablet-and-up"
                data-bundleID = {{ line_item.properties._bundleID }}
                data-no-instant>{{ 'cart.general.remove' | t }}</button>
            <button type="button"
                class="line-item__remove-button link text--subdued text--xsmall hidden-phone" 
                data-bundleID = {{ line_item.properties._bundleID }}
                data-no-instant>{{
                'cart.general.remove' | t }}</button>
            {%- endcapture -%}

            <line-item-quantity class="line-item__quantity hidden-tablet-and-up">
                {{- quantity_selector_inner -}}
            </line-item-quantity>
            <div class="bundle-details">
                <ul>
                    {% for line_item in cartItems %}
                    {% if line_item.properties._isFlavour and line_item.properties._bundleID == bundleID %}
                    <li>{{ line_item.title }} x {{ line_item.quantity }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <button type="button" class="toggle-btn"><span class="toggle-btn-icon"></span>展開商品詳情</button>
            </div>
        </div>
        </div>
    </td>

    <td class="line-item__quantity line-item__quantity--block text--center hidden-phone">
        {%- if settings.show_vendor -%}
        {%- comment -%}
        IMPLEMENTATION NOTE: in the design, the price is aligned in regards of the product title (not the brand). It was
        a
        bit hard to do as we cannot set a fixed margin, so I am actually adding an empty vendor to simulate the same
        height
        {%- endcomment -%}
        <span class="product-item-meta__vendor heading heading--xxsmall" style="visibility: hidden">x</span>
        {%- endif -%}

        <line-item-quantity style="margin-top: -4px">
            {{ quantity_selector_inner }}
        </line-item-quantity>
    </td>

    <td class="line-item__price-list-container text--right hidden-phone">
        {%- if settings.show_vendor -%}
        {%- comment -%}
        IMPLEMENTATION NOTE: in the design, the price is aligned in regards of the product title (not the brand). It was
        a
        bit hard to do as we cannot set a fixed margin, so I am actually adding an empty vendor to simulate the same
        height
        {%- endcomment -%}
        <span class="product-item-meta__vendor heading heading--xxsmall" style="visibility: hidden">x</span>
        {%- endif -%}

        <div class="price-list price-list--stack">
            {{- line_price -}}
        </div>
    </td>
</tr>
{% unless version %}
{% for line_item in cartItems %}
{% if line_item.properties._bundleID == bundleID %}
{% unless line_item.properties._isBundle or line_item.properties._isFlavour  %}
<tr class="line-item">
    <td class="line-item__product">
        <div class="line-item__content-wrapper">
            <div 
                class="line-item__image-wrapper" tabindex="-1" aria-hidden="true">
                <img class="line-item__image" loading="sizes" sizes="(max-width: 740px) 80px, 92px" {%
                    render 'image-attributes' , image: line_item.image, sizes: '80,92,160,184,240,276' %}>
            </div>

            {%- capture unit_price -%}
            {%- if line_item.unit_price_measurement -%}
            <div class="price text--subdued">
                <div class="unit-price-measurement">
                    <span class="unit-price-measurement__price">{{ line_item.unit_price | money }}</span>
                    <span class="unit-price-measurement__separator">/</span>

                    {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                    <span class="unit-price-measurement__reference-value">{{
                        line_item.unit_price_measurement.reference_value }}</span>
                    {%- endif -%}

                    <span class="unit-price-measurement__reference-unit">{{
                        line_item.unit_price_measurement.reference_unit }}</span>
                </div>
            </div>
            {%- endif -%}
            {%- endcapture -%}

            {%- capture price -%}
            <span class="price">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                {%- if line_item.original_price == 0 -%}
                {{- 'cart.general.free' | t -}}
                {%- else -%}
                {{- line_item.original_price | money -}}
                {%- endif -%}
            </span>
            {%- endcapture -%}

            {%- capture line_price -%}
            <span
                class="price {% if line_item.original_line_price > line_item.final_line_price or line_item.final_line_price == 0 or line_item.variant.compare_at_price > line_item.variant.price %}price--highlight{% endif %}">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                {%- if line_item.final_line_price == 0 -%}
                {{- 'cart.general.free' | t -}}
                {%- else -%}
                {{- line_item.final_line_price | money -}}
                {%- endif -%}
            </span>

            {%- if line_item.original_line_price > line_item.final_line_price or line_item.variant.compare_at_price >
            line_item.variant.price -%}
            <span class="price price--compare">
                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                {%- if line_item.original_line_price > line_item.final_line_price -%}
                {{- line_item.original_line_price | money -}}
                {%- else -%}
                {{- line_item.variant.compare_at_price | times: line_item.quantity | money -}}
                {%- endif -%}
            </span>
            {%- endif -%}
            {%- endcapture -%}

            <div class="line-item__info">
                <div class="product-item-meta">
                    {%- if settings.show_vendor -%}
                    {%- assign vendor_handle = line_item.vendor | handle -%}
                    {%- assign collection_for_vendor = collections[vendor_handle] -%}

                    {%- unless collection_for_vendor.empty? -%}
                    <a class="product-item-meta__vendor heading heading--xxsmall"
                        href="{{ collection_for_vendor.url }}">{{ line_item.vendor }}</a>
                    {%- else -%}
                    <a class="product-item-meta__vendor heading heading--xxsmall"
                        href="{{ line_item.vendor | url_for_vendor }}">{{ line_item.vendor }}</a>
                    {%- endunless -%}
                    {%- endif -%}

                    <div 
                        class="product-item-meta__title text--small hidden-tablet-and-up">{%- assign
                        product_opening_bracket = line_item.product.title | slice: 0 -%}{%-if product_opening_bracket ==
                        "【" -%}<span class="grassphere-space-removal"></span>{%-endif-%}{{ line_item.product.title
                        }}</div>
                    <div 
                        class="product-item-meta__title hidden-phone">{%- assign product_opening_bracket =
                        line_item.product.title | slice: 0 -%}{%-if product_opening_bracket == "【" -%}<span
                            class="grassphere-space-removal"></span>{%-endif-%}{{ line_item.product.title }}</div>

                    {%- capture line_item_properties -%}
                    {%- unless line_item.product.has_only_default_variant -%}
                    <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.variant.title
                        }}</span>
                    {%- endunless -%}

                    {%- if line_item.selling_plan_allocation -%}
                    <span class="product-item-meta__property text--subdued text--xsmall">{{
                        line_item.selling_plan_allocation.selling_plan.name }}</span>
                    {%- endif -%}

                    {%- unless line_item.properties == blank -%}
                    <ul class="product-item-meta__property list--unstyled text--subdued text--xsmall" role="list">
                        {%- for property in line_item.properties -%}
                        {%- assign first_character_in_key = property.first | truncate: 1, '' -%}

                        {%- if property.last == blank or first_character_in_key == '_' -%}

                        {%- continue -%}
                        {%- endif -%}

                        <li class="line-item__property">{{ property.first }}: {{ property.last }}</li>
                        {%- endfor -%}
                    </ul>
                    {%- endunless -%}
                    {%- endcapture -%}

                    {%- if line_item_properties != blank -%}
                    <div class="product-item-meta__property-list">
                        {{- line_item_properties -}}
                    </div>
                    {%- endif -%}

                    <div class="product-item-meta__price-list-container">
                        <div class="price-list text--small hidden-tablet-and-up">
                            {{- line_price -}}
                            {{- unit_price -}}
                        </div>

                        <div class="price-list hidden-phone">
                            {{- price -}}
                            {{- unit_price -}}
                        </div>
                    </div>
                </div>

                {%- if line_item.line_level_discount_allocations != blank -%}
                <ul class="line-item__discount-list list--unstyled" role="list">
                    {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                    <li class="line-item__discount-badge discount-badge">
                        {%- render 'icon' with 'discount-badge' -%}{{ discount_allocation.discount_application.title }}
                        (-{{ discount_allocation.amount | money }})
                    </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}

            </div>
        </div>
    </td>

    <td class="line-item__quantity line-item__quantity--block text--center hidden-phone">
        {%- if settings.show_vendor -%}
        {%- comment -%}
        IMPLEMENTATION NOTE: in the design, the price is aligned in regards of the product title (not the brand). It was
        a
        bit hard to do as we cannot set a fixed margin, so I am actually adding an empty vendor to simulate the same
        height
        {%- endcomment -%}
        <span class="product-item-meta__vendor heading heading--xxsmall" style="visibility: hidden">x</span>
        {%- endif -%}

        <line-item-quantity style="margin-top: -4px;visibility: hidden">
            {{ quantity_selector_inner }}
        </line-item-quantity>
    </td>

    <td class="line-item__price-list-container text--right hidden-phone">
        {%- if settings.show_vendor -%}
        {%- comment -%}
        IMPLEMENTATION NOTE: in the design, the price is aligned in regards of the product title (not the brand). It was
        a
        bit hard to do as we cannot set a fixed margin, so I am actually adding an empty vendor to simulate the same
        height
        {%- endcomment -%}
        <span class="product-item-meta__vendor heading heading--xxsmall" style="visibility: hidden">x</span>
        {%- endif -%}

        <div class="price-list price-list--stack">
            {{- line_price -}}
        </div>
    </td>
</tr>
{% endunless %}
{% endif %}
{% endfor %}
{% endunless %}

